@charset "ISO-8859-1";
.content {
	background-color: #e8e8e8;
    padding: 30px;
}
.content .form-search {
	padding: 20px 0px;
    background-color: #fff;
}
.content .form-search > div {
	padding-bottom: 10px;
}
.content .form-search div:last-child input:hover {
	border-coler: #afb8f9;
}
.content .form-search label {
	margin-bottom: 5px;
}
.content .form-search .form-control {
}
.content .form-search > div:last-child input {
	width: 100%;
}
.content .collection {
	background-color: #fff;
    padding: 0;
}
.content .collection table {
	text-align: center;
}